################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Chapter6/bin/Debug/net6.0
/Chapter6/obj
